body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Шапка */

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #f2f6f9;
}

.main-logo {
  display: block;

  text-align: center;

  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.main-logo[href]:hover,
.main-logo[href]:focus {
  background-color: #ca2b36;
  border-bottom-color: #9a2129;
}

.main-logo[href]:active {
  background-color: #ba2731;
  border-bottom-color: #8d1e25;
}

.main-header-logo {
  width: 220px;
  height: 42px;
}

.user-products {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.input-search {
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.input-search:hover {
  background-color: #212939;
}

.input-search:focus {
  color: #000000;
  background-color: #ffffff;
}

.bookmark,
.basket {
  color: #ffffff;

  background-color: #293449;
}

.bookmark:hover,
.bookmark:focus,
.basket:hover,
.basket:focus {
  background-color: #212939;
}

.bookmark:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.btn-order-goods {
  color: #ffffff;

  background-color: #62a63d;
}

.btn-order-goods:hover,
.btn-order-goods:focus {
  background-color: #5fbb2d;
}

.btn-order-goods:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #508534;
}

.page-title {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
}

.header-phone {
  width: 264px;
  min-height: 39px;

  text-align: center;

  border: 3px solid #ffffff;
}

.header-phone a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation a {
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation {
  background-color: #32425c;
}

.site-navigation {
  list-style: none;
}

.site-navigation li {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a {
  color: #ffffff;

  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #1d2639;
}

/* Основная часть */

.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.btn {
  display: block;
  padding: 11px 3px 10px 3px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 3px;
}

.catalog-header {
  padding-right: 30px;
  padding-left: 30px;
  background-color: #f1f5f7;
}

.catalog-header h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.filters-header,
.filter-price-slider,
.filter-price-inputs {
  background-color: #f7f2ec;
  border-radius: 3px;
}

.filters-header {
  padding-left: 18px;
  padding-right: 18px;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filter-price,
.filter-manufactures,
.filter-power-supply {
  border: none;
}

.filter-price legend,
.filter-manufactures legend,
.filter-power-supply legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-price-from,
.filter-price-to {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  
  background-color: #f7f2ec;
  border: none;
}

.filter-manufactures label,
.filter-power-supply label {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-manufactures input:disabled + label,
.filter-power-supply input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.sorting {
  padding-left: 18px;
  padding-right: 18px;

  background-color: #f7f2ec;
  border-radius: 3px;
}

.sorting-header {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sort-parameters,
.sort-directions {
  border: none;
}

.sort-parameters label,
.sort-directions label {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ed3543;
}

.sort-parameters input:hover + label,
.sort-directions input:hover + label {
  color: #000000;

  border-bottom: 1px solid #ed3543;
}

.sort-parameters input:checked + label,
.sort-directions input:checked + label {
  color: #ee3643;
  
  border: none;
}

.btn-send-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}

.offers-list {
  list-style: none;
}

.offer-item {
  background-color: #f0f0f0;
}

.offer-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.offer-item-materials {
  background-color: #ffbf47;
}

.offer-item-tool {
  background-color: #3bbbe2;
}

.offer-item-equipment {
  background-color: #db90d8;
}

.offer-item-sale {
  background-color: #8dd68e;
}

.offer-item-delivery {
  background-color: #ffbf47;
}

.slider {
  padding-left: 25px;
  color: #ffffff;
  background: url("../img/slider/slide-1.jpg") no-repeat;
}

.btn-offer {
  width: 135px;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.btn-offer:hover,
.btn-offer:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-offer:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.section-header {
  background-color: #f9f5f0;
}

.section-header h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.btn-details {
  color: #ffffff;

  background-color: #ed3543;
}

.btn-details:hover,
.btn-details:focus {
  background-color: #ca2b36;
}

.btn-details:active {
  background-color: #ba2731;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.catalog-item:focus {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 51, 73, 0.5);
}

.catalog-item h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.catalog-item .price {
  width: 140px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.price-old {
  text-decoration: line-through;
  color: #999999;

  background-color: #ffffff;
}

.price-new {
  color: #ffffff;

  background-color: #ee3643;
}

.label-new {
  width: 60px;
  height: 60px;

  background-image: url("../img/flag-new.png");
  background-repeat: no-repeat;
}

.btn-add-basket {
  width: 129px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a53d;
  box-shadow: inset 0 -3px 0 0 #367314;
}

.btn-add-basket:hover,
.btn-add-basket:focus {
  background-color: #5fbb2d;
}

.btn-add-basket:active {
  background-color: #508534;
  box-shadow: none;
}

.btn-add-bookmark {
  width: 135px;
  padding: 7px 3px 7px 3px;

  font-size: 14px;
  line-height: 18px;
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a53d;

  cursor: pointer;
}

.btn-add-bookmark:hover,
.btn-add-bookmark:focus {
  border-color: #31415b;
}

.btn-add-bookmark:active {
  opacity: 0.3;
}

.manufactures-list {
  list-style: none;
}

.manufacture-item {
  width: 220px;
  height: 145px;

  border: 1px solid #ebebeb;
}

.manufacture-item:hover,
.manufacture-item:focus  {
  border: none;
  box-shadow: 0 10px 25px 0 rgba(41, 51, 73, 0.5);
}

.manufacture-item:active {
  border: none;
  box-shadow: 0 4px 10px 0 rgba(41, 51, 73, 0.5);
  opacity: 0.3;
}

.services {
  background-color: #f5f8fa;
}

.services h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services-list {
  list-style: none;
}

.services-item a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;

  background-color: #31415b;
}

.service-active a {
  color: #32425c;

  background-color: #ffffff;
}

.service-item a:hover,
.service-item a:focus {
  color: #ffffff;

  background-color: #293349;
}

.service-info h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.about-company h2,
.contacts h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.transport-companies-list {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.btn-create-message {
  width: 300px;

  color: #ffffff;

  background-color: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.btn-pagination {
  min-width: 38px;
  
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}

.goods-info {
  padding-left: 130px;
  padding-right: 130px;

  background-color: #f2f6f8;
}

.goods-info h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

/* Подвал */

.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f1f5f7;

  background-color: #32425c;
}

.main-footer-logo {
  width: 220px;
  height: 63px;
}

.footer-site-navigations,
.footer-users-navigations {
  list-style: none;
}

.main-footer a,
.footer-site-navigations a {
  color: #f1f5f7;
}

.footer-users-navigations a {
  color: #ffd180;
}

.footer-site-navigations a:hover,
.footer-site-navigations a:focus,
.footer-users-navigations a:hover,
.footer-users-navigations a:focus {
  text-decoration: underline;
}

.footer-site-navigations a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-users-navigations a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.copyright a {
  color: #ffd180;
}

.copyright a:hover,
.copyright a:focus {
  text-decoration: underline;
}

.copyright a:active {
  text-decoration: none;
  color: #ee3643;
}

.socials-list {
  list-style: none;
}

.socials-list a {
  display: block;
  width: 42px;
  min-height: 42px;

  background-color: #212939;
  border-radius: 50%;
}

.socials-list a:hover,
.socials-list a:focus,
.socials-list a:active {
  background-color: #ed3543;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;

  clip: rect(0, 0, 0, 0);

  overflow: hidden;
}

.modal {
  display: none;
}