body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: block;
  padding: 11px 0 10px 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 3px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;

  clip: rect(0, 0, 0, 0);

  overflow: hidden;
}

.modal {
  display: none;
}

/* Шапка */

.main-header {
  margin-bottom: 59px;
  padding-bottom: 60px;

  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #f2f6f9;
}

.main-header-wrapper {
  margin-bottom: 43px;

  background-color: #293449;
}

.main-header-top {
  display: flex;
  justify-content: space-between;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-logo {
  display: block;

  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.main-logo[href]:hover,
.main-logo[href]:focus {
  background-color: #ca2b36;
  border-bottom-color: #9a2129;
}

.main-logo[href]:active {
  background-color: #ba2731;
  border-bottom-color: #8d1e25;
}

.main-header-logo {
  width: 220px;
  height: 29px;
  padding-top: 13px;
}

.main-header-logo img {
  width: 109px;
  height: 19px;
}
  
.input-search {
  width: 270px;
  height: 42px;
  padding-left: 50px;
  padding-right: 10px;

  color: #ffffff;

  background-color: #293449;
  border: none;
}

.input-search:hover {
  background-color: #212939;
}

.input-search:focus {
  color: #000000;
  background-color: #ffffff;
}

.bookmark,
.basket {
  width: 150px;
  color: #ffffff;

  background-color: #293449;
}

.bookmark:hover,
.bookmark:focus,
.basket:hover,
.basket:focus {
  background-color: #212939;
}

.bookmark:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.btn-order-goods {
  width: 150px;
  color: #ffffff;

  background-color: #62a63d;
}

.btn-order-goods:hover,
.btn-order-goods:focus {
  background-color: #5fbb2d;
}

.btn-order-goods:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #508534;
}

.main-header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.page-title {
  width: 200px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
}

.header-phone {
  width: 264px;
  min-height: 39px;

  text-align: center;

  border: 3px solid #ffffff;
}

.header-phone a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-navigation a {
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #31415b;
  box-shadow: inset 0 -5px 0 0 #293349;
}

.site-navigation li {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a {
  display: block;
  padding: 22px 31px 21px 31px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293349;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  
  background-color: #1d2639;
}

/* Основная часть - страница index */
.offers {
  margin-bottom: 53px;
}

.offers-list {
  display: grid;
  grid-template-areas:
    "materials tool equipment"
    "drills drills sale"
    "drills drills delivery";
  grid-gap: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.offer-item {
  position: relative;
  padding: 21px 25px 0 25px;

  background-color: #f0f0f0;
}

.offer-title {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.offer-item-materials {
  grid-area: materials;

  background-color: #ffbf47;
  background-image: url("../img/icon/icon-offers1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
  background-size: 44px 65px;
}

.offer-item-tool {
  grid-area: tool;

  background-color: #3bbbe2;
  background-image: url("../img/icon/icon-offers2.svg");
  background-repeat: no-repeat;
  background-position: 193px 33px;
  background-size: 75px 61px;
}

.offer-item-equipment {
  grid-area: equipment;

  background-color: #db90d8;
  background-image: url("../img/icon/icon-offers3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-size: 78px 62px;
}

.offer-item-drills {
  grid-area: drills;
  padding: 0;

  background-color: #e5e5e5;
}

.offer-item-sale {
  grid-area: sale;

  background-color: #8dd68e;
  background-image: url("../img/icon/icon-offers4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
  background-size: 59px 72px;
}

.offer-item-delivery {
  grid-area: delivery;

  background-color: #ffbf47;
  background-image: url("../img/icon/icon-offers5.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  background-size: 78px 63px;
}

.btn-offer {
  width: 135px;
  margin-bottom: 22px;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.btn-offer:hover,
.btn-offer:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-offer:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  padding: 21px 25px 0 25px;

  color: #ffffff;

  background-image: url("../img/slider/slide-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .offer-title {
  margin-bottom: 0;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.control-navigation-back {
  position: absolute;
  top: center;
  left: 0;
}

.control-navigation-next {
  position: absolute;
  top: center;
  right: 0;
}

.controls-pages-wrapper {
  position: absolute;
  bottom: 0;
}

.slider .btn-offer {
  color: #ffffff;

  background-color: #ed3543;
}

.slider .btn-offer:hover,
.slider .btn-offer:focus {
  background-color: #ca2b36;
}

.slider .btn-offer:active {
  background-color: #ba2731;
}

.section-header {
  margin-bottom: 20px;
  padding: 25px 24px 26px 30px;

  background-color: #f9f5f0;
}

.section-header h2 {
  color: #32425c;
}

.btn-details {
  color: #ffffff;

  background-color: #ed3543;
}

.btn-details:hover,
.btn-details:focus {
  background-color: #ca2b36;
}

.btn-details:active {
  background-color: #ba2731;
}

.btn-details-goods {
  width: 253px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover,
.catalog-item:focus {
  border-color: transparent;
  box-shadow: 0 10px 25px 0 rgba(41, 51, 73, 0.5);
}

.catalog-item h4 {
  width: 155px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.catalog-item .price {
  width: 140px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.price-old {
  text-decoration: line-through;
  color: #999999;

  background-color: #ffffff;
}

.price-new {
  color: #ffffff;

  background-color: #ee3643;
}

.label-new {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;

  background-image: url("../img/flag-new.png");
  background-repeat: no-repeat;
}

.btn-add-basket {
  width: 129px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #63a53d;
  box-shadow: inset 0 -3px 0 0 #367314;
}

.btn-add-basket:hover,
.btn-add-basket:focus {
  background-color: #5fbb2d;
}

.btn-add-basket:active {
  background-color: #508534;
  box-shadow: none;
}

.btn-add-bookmark {
  width: 135px;
  padding: 7px 3px 7px 3px;

  font-size: 14px;
  line-height: 18px;
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a53d;

  cursor: pointer;
}

.btn-add-bookmark:hover,
.btn-add-bookmark:focus {
  border-color: #31415b;
}

.btn-add-bookmark:active {
  opacity: 0.3;
}

.manufactures {
  margin-bottom: 85px;
}

.btn-details-manufactures {
  width: 253px;
}

.manufactures-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacture-item {
  width: 218px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #ebebeb;
}

.manufacture-item:nth-child(4n) {
  margin-right: 0;
}

.manufacture-item:hover,
.manufacture-item:focus  {
  border-color: transparent;
  box-shadow: 0 10px 25px 0 rgba(41, 51, 73, 0.5);
}

.manufacture-item:active {
  border-color: transparent;
  box-shadow: 0 4px 10px 0 rgba(41, 51, 73, 0.5);
  opacity: 0.3;
}

.services-wrapper {
  background-color: #f5f8fa;
}

.services {
  margin-bottom: 81px;
  padding: 66px 10px;
}

.services h2 {
  color: #000000;
}

.services p {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}

.services-list {
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 80px;

  list-style: none;
}

.service-item a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;

  background-color: #31415b;
}

.service-active a {
  color: #32425c;

  background-color: #ffffff;
}

.service-item a:hover,
.service-item a:focus {
  color: #ffffff;

  background-color: #293349;
}

.service-info {
  width: 620px;
}

.service-info h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #32425c;
}

.service-info p {
  width: 380px;
}

.btn-create {
  color: #ffffff;

  background-color: #ee3643;
}

.btn-create:hover,
.btn-create:focus {
  background-color: #ca2b36;
}

.btn-create:active {
  background-color: #ba2731;
}

.btn-create-application {
  width: 195px;
}

.about-company {
  width: 540px;
}

.about-company h2 {
  color: #000000;
}

.about-company p {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.transport-companies-list {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.transport-company-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 25px;
  
  background-color: #ed3543;
  border: 1px solid #ed3543;
}

.btn-details-company {
  width: 220px;
}

.contacts {
  width: 300px;
}

.contacts h3 {
  color: #000000;
}

.contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.contacts-map {
  display: block;
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.btn-create-message {
  width: 300px;
}

/* Основная часть - страница catalog*/

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  list-style: none;
}

.breadcrumbs li {
  margin-right: 15px;
  padding-left: 40px;
}

.breadcrumbs li:first-child {
  padding-left: 0;
}

.breadcrumbs a {
  color: #000000;
}

.catalog-header {
  padding: 32px 30px 27px 30px;
  margin-bottom: 20px;

  background-color: #f1f5f7;
}

.catalog-header h2 {
  color: #32425c;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters-header,
.filter-price-slider {
  margin: 0;
  padding: 0;

  background-color: #f7f2ec;
  border-radius: 3px;
}

.filters-header {
  padding: 9px 18px 10px 18px;
  margin-bottom: 9px;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filter-price,
.filter-manufactures,
.filter-power-supply {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-price,
.filter-manufactures {
  margin-bottom: 25px;

  border-bottom: 1px solid #e5e5e5;
}

.filter-price legend,
.filter-manufactures legend,
.filter-power-supply legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-price p,
.filter-manufactures p,
.filter-power-supply p {
  margin: 0;
  padding: 0;
}

.filter-manufactures p:last-child {
  margin-bottom: 20px;
}

.filter-price legend {
  margin-bottom: 15px;
}

.filter-price-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.filter-price-from,
.filter-price-to {
  width: 95px;
  height: 38px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  
  background-color: #f7f2ec;
  border: none;
  border-radius: 3px;
}

.filter-manufactures legend,
.filter-power-supply legend {
  margin-bottom: 12px;
}

.filter-power-supply legend {
  letter-spacing: 0.01em;
}

.filter-manufactures label,
.filter-power-supply label {
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-manufactures input:disabled + label,
.filter-power-supply input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.sorting {
  padding-left: 18px;
  padding-right: 18px;

  background-color: #f7f2ec;
  border-radius: 3px;
}

.sorting-header {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sort-parameters,
.sort-directions {
  margin: 0;
  padding: 0;

  border: none;
}

.sort-parameters label,
.sort-directions label {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ed3543;
}

.sort-parameters input:hover + label,
.sort-directions input:hover + label {
  color: #000000;

  border-bottom: 1px solid #ed3543;
}

.sort-parameters input:checked + label,
.sort-directions input:checked + label {
  color: #ee3643;
  
  border: none;
}

.btn-send-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}

.inner-page .catalog {
  width: 700px;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.inner-page .catalog-item:nth-child(4n) {
  margin-right: 20px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.btn-pagination {
  min-width: 38px;
  
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.btn-pagination:hover,
.btn-pagination:focus {
  border-color: #bdc5c9;
}

.btn-pagination:active {
  border-color: #ed3543;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ed3543;
  border: none;
}

.goods-info-wrapper {
  padding-top: 67px;
  padding-bottom: 69px;

  background-color: #f2f6f8;
}

.goods-info h3 {
  color: #000000;
}

/* Подвал */

.main-footer {
  margin-top: 86px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f1f5f7;

  background-color: #32425c;
}

.inner-page .main-footer {
  margin-top: 0;
}

.main-footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.main-footer-logo {
  width: 220px;
  height: 43px;
  margin-bottom: 27px;
  padding-top: 20px;
}

.main-footer-logo img {
  width: 138px;
  height: 23px;
}

.footer-address {
  width: 325px;
  margin: 0;
  padding: 0;
}

.footer-address a {
  color: #f1f5f7;
}

.footer-navigations {
  padding-top: 37px;
}

.footer-site-navigation,
.footer-users-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;

  list-style: none;
}

.footer-site-navigation li,
.footer-users-navigation li {
  margin-left: 60px;
}

.footer-site-navigation a {
  color: #f1f5f7;
}

.footer-users-navigation a {
  color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.footer-users-navigation a:hover,
.footer-users-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-users-navigation a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.main-footer-bottom {
  padding-top: 35px;
  padding-bottom: 30px;

  background-color: #293449;
}

.copyright {
  display: flex;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff; 
}

.copyright a {
  color: #ffd180;
}

.copyright a:hover,
.copyright a:focus {
  text-decoration: underline;
}

.copyright a:active {
  text-decoration: none;
  color: #ee3643;
}

.copyright-info {
  width: 230px;
  margin: 0;
  padding: 0;
  margin-right: 160px;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  padding: 0;
  margin-right: 120px;

  list-style: none;
}

.socials-item a {
  display: block;
  width: 42px;
  min-height: 42px;

  background-color: #212939;
  border-radius: 50%;
}

.socials-item a:hover,
.socials-item a:focus,
.socials-item a:active {
  background-color: #ed3543;
}

.socials-item-vkontakte a {
  background-image: url("../img/icon/icon-vk.svg");
}

.social-item-facebook a {
  background-image: url("../img/icon/icon-fb.svg");
}

.social-item-instagram a {
  background-image: url("../img/icon/icon-insta.svg");
}

.socials-item-vkontakte a,
.social-item-facebook a,
.social-item-instagram a {
  background-repeat: no-repeat;
  background-position: center;
}

.copyright-developer-email {
  width: 140px;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.copyright-developer {
  width: 110px;
  margin: 0;
  padding: 0;
}